{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 9"]
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "package": "./",
        "lib": "./lib"
      }
    }]
  ]
}
